@model OrderModel
<h1 class="h4">Checkout</h1>
<hr>
<div class="row">
    <div class="col-md-8">
        <h4 class="mb-3">Sipariş Detayı</h4>
        <form asp-controller="cart" asp-action="checkout">
         
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="FirstName" class="form-label">FirstName</label>
                   <input asp-for="FirstName" class="form-control">
                </div>
                <div class="col-md-6">
                    <label asp-for="LastName" class="form-label">LastName</label>
                    <input asp-for="LastName" class="form-control">
                </div>
            </div>
             <div class="mb-3">

                <label asp-for="Address" class="form-label">Address</label>
                <textarea asp-for="Address" class="form-control"></textarea>
                
                
            </div>
             <div class="row mb-3">
               <div class="col-md-4">
                    <label asp-for="City" class="form-label">City</label>
                   <input asp-for="City" class="form-control" >
                </div>
                <div class="col-md-4">
                    <label asp-for="Phone" class="form-label">Phone</label>
                   <input asp-for="Phone" class="form-control" >
                </div>
                <div class="col-md-4">
                    <label asp-for="Email" class="form-label">Email</label>
                   <input asp-for="Email" class="form-control" >
                </div>
                
            </div>
           <hr  class="mb-3"/>
            <h4 class="mb-3">Ödeme Bilgileri</h4>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="CartName" class="form-label">CartName</label>
                    <input asp-for="CartName" class="form-control">
                </div>
                <div class="col-md-6">
                    <label asp-for="CartNumber" class="form-label">CartNumber</label>
                    <input asp-for="CartNumber" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="ExpirationMonth" class="form-label">ExpirationMonth</label>
                    <input asp-for="ExpirationMonth" class="form-control">
                </div>
                <div class="col-md-4">
                    <label asp-for="ExpirationYear" class="form-label">ExpirationYear</label>
                    <input asp-for="ExpirationYear" class="form-control">
                </div>
                <div class="col-md-4">
                    <label asp-for="Cvc" class="form-label">Cvc</label>
                    <input asp-for="Cvc" class="form-control">
                </div>
            </div>
           <button type="submit" class="btn btn-block btn-primary btn-lg">Submit</button>
        </form>
    </div>
    <div class="col-md-4">
        <h4 class="mb-3">
            <span>Özet Bilgiler</span>
        </h4>

     <ul class="list-group mb-3">
            @foreach (var item in Model.cartModel.CartItems)
            {
                 <li class="list-group-item d-flex justify-content-between">
                      <div>
                          <h6>@item.Name</h6>
     
                      </div>
                      <span class="text-muted">@item.Price.ToString("c")</span>
                  </li>
            }
        
      <li class="list-group-item d-flex justify-content-between">
          <div>
              <h6>Toplam</h6>
     
          </div>
          <span class="text-muted">@Model.cartModel.TotalPrice().ToString("c")</span>
      </li>
    </ul>


    </div>
</div>